<div class="img-fundo"> 
    <img  [src]="imagemFundo" alt="imagem de fundo">
</div>

<div class="login-container"> 

<div class="logo"> 
    <img  [src]="imagemLogo" alt="logo da ford">
</div>

<div class="titulo"> 
    <h2>{{titulo}}  </h2>
</div>



<div class="form"> 
    <form [formGroup]="formulario" ng>
        <div formGroupName="usuario">

            <p class="alert alert-warning"
            *ngIf="formulario.get('usuario.nome')?.hasError('required')
             &&formulario.get('usuario.nome')?.touched">
        O campo nome é obrigatório, por favor digite seu nome.
      </p>
    <input  type="text"
            name="nome"
            formControlName="nome"  
            placeholder="Digite seu nome"   
            id="nome" class="input" required>

    <input  type="email"
            name="login"
            formControlName="email" 
            placeholder="Digite seu email"  id="email" class="input" required>

    <input type="password"
           name="senha" 
           formControlName="senha"   
           placeholder="Digite sua senha"  id="senha" class="input" required>
    <div id="passwordHelpBlock" class="form-text">
        Sua senha deve ter de 8 a 20 caracteres, conter letras e números...
      </div>
   
   <button type="submit" value="Entrar" class="butao" > 
    Envia
   </button>
</div>
    
</form>
</div>
</div>
