<div class="img-fundo w-50"> 
    <img  [src]="imagemFundo" alt="imagem de fundo" class="img-fluid w-100">
</div>

<div class="login-container"> 

<div class="logo d-flex justify-content-center"> 
    <img  [src]="imagemLogo" alt="logo da ford" class="img-fluid w-50 my-4">
</div>


    <h2 class="fw-bold text-primary text-shadow text-center my-4">{{titulo}}  </h2>


<form [formGroup]="formulario" (ngSubmit)="onSubmit()">

    

        <div class="input-group mb-3">
          <span class="input-group-text">
            <i class="bi bi-person"></i>
        </span>
          <input type="text" 
          class="form-control " id="email" 
          placeholder="Digite seu email" name="nome"
          formControlName="nome">
         
    </div>
    
    <div *ngIf="formulario.get('nome')?.hasError('required') && formulario.get('nome')?.touched"
                class="mensagem-validacao">
            Campo obrigatório
    </div>
            <div *ngIf="formulario.get('nome')?.hasError('email') && formulario.get('nome')?.touched"
                class="mensagem-validacao">
            Formato de e-mail errado
    </div>  
   
    
    <div class="input-group mb-3 ">
        <span class="input-group-text">
            <i class="bi bi-person-fill-lock"></i>
        </span>
        <input type="password" class="form-control"
        id="senha" placeholder="Digite sua senha"
        name="senha"
        formControlName="senha">
    </div>
    
     
    <div id="passwordHelpBlock" class="form-text">
        Sua senha deve ter de 6 a 20 caracteres, conter letras e números...
      </div> 
      
      <div class="form-check form-switch d-flex align-items-center">
        <input class="form-check-input" type="checkbox" id="rememberMe" formControlName="rememberMe">
        <label class="form-check-label" for="rememberMe">
          Manter-me conectado
        </label>
        
      </div>
      <button 
      [disabled]="formulario.invalid"
      type="submit" [ngClass]="formulario.valid ? 'butao' : 'butao-desabitado'">
        Enviar
      </button>
</form>

</div>
