<div class="img-fundo"> 
    <img  [src]="imagemFundo" alt="imagem de fundo">
</div>

<div class="login-container"> 

<div class="logo"> 
    <img  [src]="imagemLogo" alt="logo da ford">
</div>

<div class="titulo"> 
    <h2>{{titulo}}</h2>
</div>

<div class="form"> 
<form action=""> 
    
    <input type="email" placeholder="Digite seu email" name="email" id="email" class="input" required>
    <label for="email"></label>
    <input type="password" placeholder="Digite sua senha" name="senha" id="senha" class="input" required>
    <label for="senha"></label>
    <input type="submit" value="Entrar" class="butao"> 
    
</form>
</div>
</div>
