
<app-header-component> </app-header-component>

<div class="container mt-5">
  <h3 class="text-center text-primary mb-5">
    <i class="bi bi-speedometer2 me-2"></i> DASHBOARD FORD
  </h3>


  <div class="mb-4">
    <label for="selectDashboard" class="form-label fw-bold">Selecione um veículo</label>
    <select
      id="selectDashboard"
      class="form-select shadow-sm"
      [(ngModel)]="seletorDeCarros"
      (change)="carroSelecionado()"
      name="selectDashboard"
    >
      <option [value]="i" *ngFor="let v of veiculos; index as i">
        {{ v.vehicle }}
      </option>
    </select>
  </div>


  <div *ngIf="selectorVehicle" class="row justify-content-center g-4 mb-4">

  
    <div class="col-md-3 col-sm-6">
      <div class="card border-primary shadow-sm h-100 text-center">
        <div class="card-body">
          <i class="bi bi-car-front-fill fs-2 text-info mb-2"></i>
          <h6 class="card-titletext-primary">Veículo</h6>
          <p class="fs-5 fw-bold text-primary">{{ selectorVehicle.vehicle }}</p>
        </div>
      </div>
    </div>


    <div class="col-md-3 col-sm-6">
      <div class="card border-success shadow-sm h-100 text-center">
        <div class="card-body">
          <i class="bi bi-wifi fs-2 text-info mb-2"></i>
          <h6 class="card-titletext-primary">Veiculos conectado</h6>
          <p class="fs-5 fw-bold text-success">{{ selectorVehicle.connected }}</p>
        </div>
      </div>
    </div>


    <div class="col-md-3 col-sm-6">
      <div class="card border-info shadow-sm h-100 text-center">
        <div class="card-body">
          <i class="bi bi-bar-chart-line fs-2 text-info mb-2"></i>
          <h6 class="card-titletext-primary">Total de Vendas</h6>
          <p class="fs-5 fw-bold text-info">{{ selectorVehicle.volumetotal }}</p>
        </div>
      </div>
    </div>

  
    <div class="col-md-3 col-sm-6">
      <div class="card border-warning shadow-sm h-100 text-center">
        <div class="card-body">
          <i class="bi bi-arrow-repeat fs-2 text-info mb-2"></i>
          <h6 class="card-titletext-primary">Atualizações de Software</h6>
          <p class="fs-5 fw-bold text-warning">{{ selectorVehicle.softwareUpdates }}</p>
        </div>
      </div>
    </div>
  </div>


  <div class="row justify-content-center border-primary">
    <div class="col-md-8">
      <div class="card shadow-sm h-100">
        <div class="card border-primary text-center  ">
          <i class="bi bi-image fs-2 text-info mb-2"></i>
          <h6 class="card-titletext-primary">Imagem do Veículo</h6>
          <img
            *ngIf="selectorVehicle.img"
            [src]="selectorVehicle.img"
            alt="Imagem de {{ selectorVehicle.vehicle }}"
            class="img-fluid rounded mt-3 shadow-sm"
            style="max-height: 100%;"
          />
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container my-4">
 
  <div class="row justify-content-center mb-4">
    <div class="col-12 col-md-6">
      <div class="input-group shadow-sm">
        <span class="input-group-text bg-primary text-white">
          <i class="bi bi-search"  (click)="onSearch()"></i>
          
        </span>
        
        <input
          [formControl]="barraDePesquisa"
          name="search"
          type="text"
          class="form-control"
          placeholder="Pesquise pelo VIN"
          aria-label="Pesquise pelo VIN"
          
          (input)="onSearch()"
        />
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-bordered table-hover align-middle text-center">
          <thead class="table-primary">
            <tr>
              <th scope="col" class="ford-blue"> <i class="bi bi-car-front"></i> ID </th>
              <th scope="col" class="ford-blue"><i class="bi bi-speedometer2"></i> Odômetro</th>
              <th scope="col" class="ford-blue"><i class="bi bi-fuel-pump"></i> Nível de Combustível</th>
              <th scope="col" class="ford-blue"><i class="bi bi-info-circle"></i> Status</th>
              <th scope="col" class="ford-blue"><i class="bi bi-geo-alt"></i> Lat.</th>
              <th scope="col" class="ford-blue"><i class="bi bi-geo-alt"></i> Long.</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="veiculoDetalhado; else semDados">
              <td class="ford-grey"> {{ veiculoDetalhado.id }}</td>
              <td class="ford-grey">{{ veiculoDetalhado.odometro }} Km</td>
              <td class="ford-grey">{{ veiculoDetalhado.nivelCombustivel }} %</td>
              <td class="ford-grey">
                <i
                  class="bi"
                  [ngClass]="{
                    'bi-circle-fill text-success': veiculoDetalhado.status === 'on',
                    'bi-circle-fill text-danger': veiculoDetalhado.status === 'off'
                  }"
                ></i>
                {{ veiculoDetalhado.status }}
              </td>
              <td class="ford-grey">{{ veiculoDetalhado.lat }}</td>
              <td class="ford-grey">{{ veiculoDetalhado.long }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #semDados>
        <div class="alert alert-warning text-center" role="alert">
          Nenhum dado encontrado para este VIN.
        </div>
      </ng-template>
    </div>
  </div>
</div>




